pip
streamlit
pandas
geopandas
matplotlib
seaborn
plotly
fiona
git+https://github.com/streamlit/gsheets-connection
oauth2client
google.generativeai
vertexai
html
time
altair
vega_datasets
global_variables